*.err
*.out
*.log
*.csv
*.txt
*.sh
wandb_downloaded_data/
Plotting results/
plotting_*/
job_output_*/
job_tracking_*/
backups
logs
logs_june
/venv/
.venv/*
**/__pycache__/
*-env
robotouille.egg-info
..gitignore.swp
.DS_Store
/equalrb/
/equalrb_energy/
/slurm_scripts/
/slurm_log/
/slurm_scripts_new/
fairmarl_iclr_validation
plots_july
wandb/*

!wandb/wandb_group.py
.vscode/
results/*
janlogss
datafromruns
march2025logss
backups
plots
*.th
*.slurm
*slurm_scripts
*.diff